<launch>
    <param name="/use_sim_time" type="bool" value="true" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_front" args="0.35 0 0 0 0 0.5150381 0.8571673 base_link laser_front" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_rear" args="-0.35 0 0 0 0 0.866 0.5 base_link laser_rear" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="footprint_to_base" args="0 0 0 0 0 0 1 base_footprint base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom" />

    <!-- broadcast the odometry as tf frame -->
    <node pkg="project2" type="odom_tf" name="odom_tf" output="screen">
        <param name="parent_frame" value="odom" />
        <param name="child_frame" value="base_link" />
        <param name="odom_topic" value="odom" />
    </node>

    <!-- merge the two separate laser scans together, publish on topic /merge/scan -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link" />
        <param name="scan_destination_topic" value="/merge/scan" />
        <param name="laserscan_topics" value="/front/scan /rear/scan" />
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <!-- Topic with laser data -->
        <remap from="scan" to="merge/scan" />
        <!-- Base robot frame -->
        <param name="base_frame" value="base_link" />
        <!-- Odometry frame -->
        <param name="odom_frame" value="odom" />
        <!-- Update interval (in seconds) -->
        <param name="map_update_interval" value="1.0" />
        <!-- Initial map size (in meters) -->
        <param name="xmin" value="-5.0"/>
        <param name="ymin" value="-5.0"/>
        <param name="xmax" value="5.0"/>
        <param name="ymax" value="5.0"/>
        <!-- The maximum usable range of the laser -->
        <param name="maxUrange" value="14.5"/>
        <!-- The maximum range of the sensor. If regions with no obstacles within
        the range of the sensor should appear as free space in the map, 
        set maxUrange < maximum range of the real sensor <= maxRange -->
        <param name="maxRange" value="16"/>
        <!-- The number of iterations of the scanmatcher -->
        <param name="iterations" value="10"/>
        <!-- Number of beams to skip in each scan. -->
        <param name="lskip" value="10"/>
        <!-- Process a scan each time the robot translates this far -->
        <param name="linearUpdate" value="0.1"/>
        <!-- Process a scan each time the robot rotates this far -->
        <param name="angularUpdate" value="0.1"/>
        <!-- Threshold at which the particles get resampled. ++ means more frequent resample -->
        <param name="resampleThreshold" value="0.5"/>
        <!-- Number of particles in the filter -->
        <param name="particles" value="120"/>
        <!-- Resolution of the map (in metres per occupancy grid block) -->
        <param name="delta" value="0.05"/>
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project2)/config/config.rviz" />
</launch>